*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;  
}

/* INIZIO CLASSI GENERALI */
.container{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.container a{
    margin-top: auto;
    text-align: center;
}
.container_item{
    margin: 20px 0px;
    display: flex;
    justify-content: stretch;
    width: 100%;
    font-size: 14px;
    gap: 10px;
}
.nowrap{
    flex-wrap: wrap;
}
.container_item i{
    /* width: 10%; */
    padding-top: 3px;
}
.container_item span{
    width: 90%;
}
.container_main a{
    margin-top: 20px;
    text-align: center;
}

h5{
    margin:30px 0px;
}
hr{
    /* margin: 40px 0px; */
    width: 25%;
    border: none;
    height: 1px;
    background-color: #ececed;
}
a{
    color: #1f1df0;
    text-decoration: none;
}

.spaziatura{
    padding-left: 10px;
}
button{
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: none;
    padding: 10px 5px;
}

.button_blue{
    width: 100%;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
}
.grey_transparent{
    background-color: transparent;
    border: 1px solid #ececed;
    color: black;
    padding: 10px 20px;
}
.white_no-border{
    background-color: white;
    color: black;
    border: none;
}
.transparent{
    background-color: transparent;
    padding: 0;
    color: black;
    margin-bottom: 100px;
}

.fa-arrow-down{
    font-size: 40px;
    margin-bottom: 20px;
}

.overflow{
    overflow-y: scroll;
}


/* FINE CLASSI GENERALI */


/* INIZIO PARTE HEADER */


li{
    margin: 15px;
    list-style: none;
}
.nav_bar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    font-size: 15px;
    /* DEBUG */
    /* background-color: red; */
}
ul img{
    width: 100px;
     vertical-align: middle;
}

.nav_bar ul{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.central_box{
    margin-top: 50px;
    width: 70%;
    display: flex;
    padding-top: 50px;
}
.column{
    flex-direction: column;
}

.central_box h1{
    padding-bottom: 50px;
}

.jumbo{
    display: flex;
    justify-content: center;
    /* height: 500px;  */
    text-align: left;
    font-size: 20px;
    background-color: #b4d0e7;
    /* DEBUG */
    /* background-color: blue; */
}



.jumbo_items{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.jumbo_items img{
    min-width: 800px;
    order: 1;
}

#paragraph_jumbo{
    width: 80%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
#paragraph_jumbo p{
    width: 80%;
}
#paragraph_jumbo > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    width: max-content;
    margin-top: 20px;
    gap: 10px;
}
#paragraph_jumbo i{
    margin-top: 50px;
}
/* FINE PARTE HEADER */

/* INIZIO PARTE MAIN */

.container_main{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.middle{
    width: 70%;
    display: flex;
    flex-direction: column;
}
#radio_buttons{
    margin-top: 50px;
    display: flex;
    gap: 40px;
}
.plane_button a{
    padding: 0px 20px;
    width: 100%;
}
.orizzontal_planes{
    margin-top: 40px;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: left;
}
.container_planes{
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between; 
}
.col_planes{
    width: calc((100%/3) - 30px);
    display: flex;
    flex-direction: column;
    border: 1px solid #ececed;
}
.top_planes{
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #ececed;
}
.padding_left{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.plane_description{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.plane_button{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: auto;
}
.a_otherwise{
    margin-top: 20px;
}
.a_otherwise span{
    text-align: left;
}
.a_otherwise hr{
    display: flex;
    padding-left: 10%;
    margin: 40px 0px;
    border-color: #ececeded;
    width: 20%;
}

.column{
    flex-direction: column;
}
.container_main.column{
    border: 1px solid #ececed;
}
.orizz_float{
    padding: 30px 40px;
    display: flex;
    /* justify-content: space-between; */
}
.info{
    width: 70%;
}
.info span{
    font-size: 12px;
}
.orizz_float a{
    width: 30%;
    margin-top: 0px;
}





/* FOTO MAIN */
#photo_main{
    display: flex;
    width: 50%;
    align-items: center;
    gap: 60px;
}
#photo_main img{
    width: 70%;
}
#photo_main div {
    width: 30%;
}
#photo_main div p {
    font-size: 14px;
}
#photo_main h3 {
    margin-bottom: 20px;
}
#photo_main button{
    margin-top: 30px;
}

/* OPERATION MAIN */
.operation_info{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 40px;
}
.container_operation_items{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.operation_items{
    display: flex;
    flex-direction: column;
    width: (calc(100%/3)- 40px);
    /* DEBUG */
}
.operation_items img{
    width: 100%;
}
.operation_items h3{
    padding: 20px 0px 30px;
}
.operation_items p{
    font-size: 12px;
}


/* PARTE TEAM 500.000 */

.team{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.team h1{
    font-size: 40px;
    margin-bottom: 40px;
}


/* BOXE UNIVERSITA' */

.container_boxes{
    width: 100%;
    height: calc(100vw/3);
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.col{
    width: calc(100%/3);
    background-color: #f5f5f5;
}
.image_box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    /* DEBUG */
    /* background-color: violet; */
    /* border: 1px solid black; */
}
.image{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* DEBUG */
    /* background-color: blue; */
    /* border: 1px solid black; */
    /* height: calc(100%/2); */
}

/* PRIMA PARTE - SINISTRA */
.green{
    background-color: #a2d39b;
    
}
.red{
    background-color: #ff1c1c;
}
.bordeaux{
    background-color: #61082b;
}
.blue{
    background-color: #0093ce;
}
/* SECONDA PARTE - DESTRA */
.red2{
    background-color: #d5001f;
}
.blu_sky{
    background-color: #b4d0e7;
}
.blu_dark{
    background-color: #0d2481;
}
.yellow{
    background-color: #ffd830;
}
.image img{
    width: 50%;
    filter: invert(100%);
}
/* PARTE CENTRALE  */
#image_center{
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    font-size: 12px;
}
#image_center img{
    width: 40%;
}
#image_center hr{
    width: 20%;
    border: 1px solid;
    border-color: #e7e7e8;
}
#image_center p{
    width: 80%;
    margin: 50px 0px;
}
#image_center span{
    margin-top: 100px;
}

  /* DROPBOX PORTA AZIENDA */
  .container_main.blu_sky{
    margin: 0px;
  }

  .company{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  .company h3{
    font-size: 30px;
    margin: 60px 0px;
  }
  .company h2{
    margin: 60px 0px;
  }
  .company button{
    width: 20%;
  }

 .sec_question{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
 }

  .qea{
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-right: none;
    padding:30px 0px;
    border-left: none;
  }
  .domanda{
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;

  }
  .qea i{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    width: 30%;
  }
/* FINE PARTE MAIN */

/* INIZIO PARTE FOOTER */
footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}
footer  li a{
    color: white;
    font-size: 12px;
    text-align: left;
}
.container_footer{
    margin-top: 80px;
    gap: 40px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.container_footer select{
    color: grey;
    background-color: transparent;
    padding: 40px 0px;
    border: 1px solid grey;
    border-right: none;
    border-left: none;
    border-bottom: none;
}
.footer_language{
    margin-bottom: 30px;
    margin-left: 15px;
    padding: 20px 0px;
    border-top: 1px solid gray;
    color: grey;
    align-items: center;
    display: flex;
}

.footer_language .fa-solid.fa-sort-up ,
.fa-earth-americas{
    margin-top: 10px;
    padding: 0px 5px;
    color: grey;
}

/* FINE PARTE FOOTER */