*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;  
}
/* INIZIO CLASSI GENERALI */
button{
    cursor: pointer;
}
.button_blue{
    background-color: blue;
    border: none;
    color: white;
    padding: 5px 10px;
}
.transparent{
    background-color: transparent;
    padding: 0;
    color: black;
}

.middle{
    margin: 20px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}



/* FINE CLASSI GENERALI */


/* INIZIO PARTE HEADER */


li{
    margin: 15px;
    list-style: none;
}
.nav_bar{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: lighter;
    font-size: 15px;
    /* DEBUG */
    /* background-color: red; */
}
ul img{
    width: 100px;
}

.nav_bar ul{
    display: flex;
    align-items: center;
    margin: 0px 15px;
}
.central_box{
    margin-top: 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
   justify-content: center;
    padding-top: 50px;
}
.central_box h1{
    padding-bottom: 50px;
}

.jumbo{
    display: flex;
    justify-content: center;
    /* height: 500px;  DA FIXARE L'IMG */
    text-align: left;
    font-size: 20px;
    background-color: #b4d0e7;
    /* DEBUG */
    /* background-color: blue; */
}



.jumbo_items{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.jumbo_items img{
    /* float: left; */
    width: 600px;
    order: 1;
}

#paragraph_jumbo{
    width: 30%;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
#paragraph_jumbo button{
    width: 100%;
    width: max-content;
    margin-top: 20px;
}
/* FINE PARTE HEADER */

/* INIZIO PARTE MAIN */
.sec_planes{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_planes{
    display: flex;
    justify-content:space-between;
}
.plane{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* DEBUG */
    border: 1px solid black;
}
/* FINE PARTE MAIN */